# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log

# Django
*.log
staticfiles/
media/
db.sqlite3
*.pot

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env

# PyCharm
.pytest_cache/
